<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229849016831-17h074bt0cvlrelo3lvks5dmok25q068.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229849016831-17h074bt0cvlrelo3lvks5dmok25q068</string>
	<key>API_KEY</key>
	<string>AIzaSyAJzkcZwuqcooIu-4LDiuVPgCtMRLFwZmE</string>
	<key>GCM_SENDER_ID</key>
	<string>229849016831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mlproj-62acc</string>
	<key>STORAGE_BUCKET</key>
	<string>mlproj-62acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229849016831:ios:f03ac5ccdae40d7c099fca</string>
</dict>
</plist>